#demo {
  width: fit-content;
  padding-right: 0px;
}

.demo:last-child {
  color: red;
  border-right: 1px solid;
  border-color: black;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {
    border-color: black;
    
  }
  to {
    border-color: transparent;
  }
}
