* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  margin-top: 146px;
  margin-bottom: 80px;
}

.header-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 43px;
}

.header-text {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
    padding-bottom: 22px;
}

.container {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  height: 1162px;
  width: 1057px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  height: 366px;
  width: 331px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 32px;
}

.container img {
  height: 173px;
  width: 331px;
  margin-bottom: 12px;
}

.time {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

letter-spacing: 0.28px;
margin-bottom: 4px;
}

.start {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 35px;
/* identical to box height, or 145% */

letter-spacing: -0.5px;
margin-bottom: 9px;
}

.text {
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
}