* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calculator {
  width: 282px;
  height: 352px;
  background-color: rgb(40, 12, 12);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.result {
  width: 208px;
  height: 68px;
  background-color: #394655;
  text-overflow: ellipsis;
  overflow: hidden;
  
}

.text {
  width: 41px;
  height: 72px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: white;
  margin-bottom: 7px;
  width: 100%;
  padding-right: 10px;
  text-align: end;
}

.result .result-calculator {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: white;
  width: 23px;
  height: 20px;
  margin-top: 2px;
  text-align: end;
  width: 100%;
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button {
  width: 68px;
  height: 68px;
  background-color: #394655;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}

.number {
  background-color: #425062;
}
