*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  height: 100vh;
  backdrop-filter: blur(20px);
}

.slider-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 70vh;
  width: 70vw;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: 0.4s ease;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.arrow {
  position: fixed;
  z-index: 1;
}

.left-arrow {
  top: 50%;
  left: -2vh;
}

.right-arrow {
  top: 50%;
  right: -2vh;
}
