.container {
    position: relative;
}

.container img{
    transition: all 1s ease;
    width: 700px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.container img:first-child{}
