.cat {
    width: 20px;
    height: 20px;
    position: fixed;
}

.back {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    border-radius: 50%;
    background-color: red;
}