* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.box {
  width: 315px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 1px 1px 1px 1px rgb(161, 159, 159);
}

i {
  color: rgb(234, 234, 60);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text {
  font-size: 1.2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 10px;
  font-weight: lighter;
  width: 300px;
  margin: ;
}

.everything {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.foot {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  background-color: rgb(87, 87, 211);
  width: 100%;
}

.foot1 {
  margin: 20px 15px 0px;
  width: 16.7%;
  padding: 20px;
}

.foot1 a {
  text-decoration: none;
  line-height: 30px;
  color: white;
}

.foot1 a:hover {
  opacity: 0.7;
}

.foot1 li {
  list-style-type: none;
}


a.button {
  text-decoration: none;
  color: white;
  background-color: rgb(46, 135, 46);
  padding: 10px;
  border-radius: 5px;
  margin: 10%
}

.body {
  margin: 20px 10px;
}

.body h1 {
  text-align: center;
  margin-bottom: 10px;
}

.body h2 {
  margin-top: 10px;
  text-decoration: underline;
}

.java {
  width: 80%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(161, 143, 143);
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 1px rgb(208, 199, 187);
}

.giaotrinh {
  margin-left: 20px;
}

.giaotrinhh3 {
  margin: 0;
  text-decoration: underline;
}

.allinjava {
    margin-top: 20px;
}