* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "GeneralSans-Variable";
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: "GeneralSans-Variable";
  src: url("Fonts/WEB/fonts/GeneralSans-Variable.woff2") format("woff2"),
    url("Fonts/WEB/fonts/GeneralSans-Variable.woff") format("woff"),
    url("Fonts/WEB/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1264px;
  }
  .section {
    width: 70%;
  }
}

/* Nav */

.row {
  --bs-gutter-x: 0px;
  --bs-gutter-y: 0px;
}

.btn {
  --bs-btn-padding-x: 24px;
  --bs-btn-padding-y: 16px;
  --bs-btn-border-radius: 70px;
  font-style: normal;
  --bs-btn-font-weight: 500;
  --bs-btn-line-height: 20px;
}

.container {
  --bs-gutter-x: 0px;
  --bs-gutter-y: 0px;
}

.logo-header {
  display: flex;
  text-align: center;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 28.24px;
  line-height: 32.47px;
}

.header-nav {
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.navbar {
  width: 1240px;
  height: 52px;
  padding: 0;
  margin: 0;
}

.navbar-nav {
  display: flex;
  gap: 40px;
  margin-left: 80px;
}

.collapse.navbar-collapse {
  background-color: white;
}

.navbar-nav.me-auto {
  margin: 0;
  padding: 0;
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
}

/* compay work with */
.container-fluid.header {
  height: 800px;
  width: 100%;
  position: relative;
}

.slogan {
  margin-top: 114px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 86px;
  line-height: 120px;
  /* or 140% */

  text-transform: capitalize;
  word-spacing: 5px;
  color: #000000;
}

.section {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  text-transform: capitalize;

  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 52px;
}

.email input {
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-transform: capitalize;
  color: #aaaaaa;
  display: flex;
  align-items: center;
  padding: 20px 18px;
  gap: 10px;

  width: 309px;
  height: 62px;

  background: #fafafa;
  border-radius: 37px;
  margin-right: 12px;
}

.box.d-flex .btn.btn-primary {
  font-style: normal;
  /* identical to box height, or 125% */
  text-transform: capitalize;
  color: #ffffff;
}

.box-image {
  margin-top: 84px;
  width: 100%;
  height: 100%;
}

.box-image .img1 {
  width: 367px;
  height: 240px;
  margin: 0;
  padding: 0;
}

.box-image .img2 {
  width: 241px;
  height: 240px;
  margin: 0;
  padding: 0;
  position: relative;
}

.box-image .smile {
  position: absolute;
  right: 183px;
  top: -173px;
}

.box-image .hand {
  position: absolute;
  left: 164px;
  bottom: 90px;
}

.box-image .img3 {
  width: 241px;
  height: 190px;
}

.box-image .img6 {
  width: 184px;
  height: 240px;
}

.box-image .img7 {
  width: 184px;
  height: 240px;
}

.company {
  width: 100%;
  height: 474px;
}

.company-title {
  width: 729px;
  height: 108px;
  margin-top: 78px;
  margin-bottom: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-work {
  width: 280px;
  height: 108px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: #000000;
}

.company-text {
  width: 413px;
  height: 84px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  color: #252525;
}

.logo-line1 {
  max-width: 1240px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.logo-line2 {
  max-width: 1240px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.box-number {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 86px;
  text-transform: capitalize;

  color: #000000;
}

.box-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

/* this is commit */
.container.commit {
  height: 520px;
  margin-top: 100px;
}

.header-commit {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 12px;
}

.text-commit {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;

  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
}

/* how work */
.container.how-work {
  height: 776px;
}

/* .box_how_work {
  margin: 0 20px;
} */

.header_how_work {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  /* identical to box height */

  text-transform: capitalize;

  color: #000000;
  margin-bottom: 12px;
}

.text_how_work {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  text-transform: capitalize;

  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 46px;
}

/* Our work */
.container.our_work {
  text-align: center;
}

.subheader {
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #000000;
  margin: 16px 0 12px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: rgba(0, 0, 0, 0.6);
}

.text-center button {
  margin-top: 48px;
  margin-bottom: 83px;
}

/* Slider */
.container.slider {
  height: 600px;
}

.slider-header {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 9px;
}

.slider-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  text-transform: capitalize;

  color: #000000;
}

.container.slider .col-2.d-flex {
  gap: 20px;
}

.active-button {
  color: blue;
}

.container-fluid.custom {
  display: flex;
  gap: 19px;
  width: 200vw;
  overflow-x: hidden;
}

.box-custom {
  width: 505px;
  height: 296px;
  background-color: #252525;
}

.box-custom.active-box {
  background-color: #aaaaaa;
}

/* team */
.header {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  /* identical to box height */

  text-transform: capitalize;

  color: #000000;
}

.subheader1 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;

  text-transform: capitalize;

  color: rgba(0, 0, 0, 0.6);
}

.text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  text-transform: capitalize;

  color: rgba(0, 0, 0, 0.6);
}

/* this is adress */
.adress {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  margin: 19px 0 34px;
}

.text-social {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  color: #000000;
  margin-bottom: 48px;
}

/* footer */

.container-fluid.footer {
  background-color: rgba(0, 0, 0, 0.8);
  height: 119px;
  color: white;
  display: flex;
}

.container-fluid.footer .row {
  padding: 0 100px;
  width: 100%;
  align-content: center;
}
