@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red-color: #f00000;
}

h2 {
  border-bottom: 2px solid var(--red-color);
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  font-family: "Signika Negative", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

/* navbar */
.navbar_container {
  width: 100vw;
  background-color: rgb(0, 0, 0);
}

.navbar.navbar-expand-lg {
  width: 100%;
}

.navbar-toggler-icon.white {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon.black {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: white;
}

.shownav {
  background-color: rgb(119, 124, 106);
}

.container-fluid.header {
  overflow: hidden;
}

.navbar-nav .nav-item {
  margin: 0 20px;
}

.navbar-nav .nav-item .nav-link {
  font-size: larger;
  color: rgb(255, 255, 255);
}

.search .bi-search {
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.bi-cart4 {
  font-size: 36px;
  cursor: pointer;
  color: white;
}

.navbar_container form {
  margin-right: 30px;
}

.navbar_container form input {
  padding-right: 30px;
}

.cart {
  position: relative;
}

.cart_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: var(--red-color);
  color: white;
  top: 0px;
  right: 0px;
  z-index: 99;
}
/* result search */
#search .sreach_result {
  right: 0;
  width: 200%;
  max-height: 460px;
  overflow-y: scroll;
}

#search .sreach_result .box_result {
  height: 150px;
  overflow: hidden;
  margin-bottom: 3px;
  padding: 5px 5px;
}

#search .sreach_result .box_result .result_img {
  width: 50%;
  margin-right: 5px;
}

.no-decoration {
  text-decoration: none;
  color: black;
}

#search .sreach_result .box_result .result_img img {
  width: 100%;
  height: 100%;
}

#search .sreach_result .box_result .result_text {
  width: 50%;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}

#search .sreach_result .box_result .result_text .price_result {
  font-weight: 700;
}

#search .sreach_result .box_result .description_result {
  color: var(--red-color);
}

/* news_details */

.new_details {
  margin-top: 70px;
}

.container_news_details {
  margin-top: 50px;
}

.container_news_details .subcontainer_news {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.container_news_details .subcontainer_news a {
  text-decoration: none;
  color: black;
}

.box_news {
  max-width: 400px;
  margin-bottom: 40px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  margin-left: 50px;
}

@media (max-width: 556px) {
  .box_news {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .container-fluid.subscribe .row {
    padding: 0px 0px 30px;
  }
}

@media (max-width:992px){
  .box_news {
    max-width: 600px;
  }
}

.img_news,
.info_news {
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.img_news img {
  width: 100%;
  height: 400px;
  transition: 0.3s linear;
}

.img_news img:hover {
  transform: scale(1.2);
}

.info_news {
  padding: 10px;
}

.info_news .title_news h3:hover {
  color: var(--red-color);
}

.info_news .time_news span {
  margin: 5px;
}

.text_news {
  overflow: hidden;
  height: 50px;
  line-height: 1.5;
  --max_lines: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max_lines);
  margin-bottom: 5px;
}

.more_details a {
  text-decoration: none;
  color: white;
}

.more_details button {
  padding: 10px;
  background-color: var(--red-color);
  border: none;
  border-radius: 10px;
}

/* subscribe for more */
.container-fluid.subscribe {
  background-color: rgba(0, 0, 0, 0.852);
  flex-direction: column;
}

.box_sub {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
}

.container-fluid.subscribe .row {
  display: flex;
  padding: 0 50px 30px 100px;
}

.email-box {
  height: 100%;
}

input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.container-fluid.subscribe .row input {
  padding: 10px;
}

.container-fluid.subscribe .row .button {
  width: 100%;
  height: 100%;
  background-color: var(--red-color);
  padding: 10px 12px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.container-fluid.subscribe .row .button:active {
  background-color: white;
  color: var(--red-color);
}

/* footer */
.container_footer {
  height: fit-content;
  background-image: url(../../assets/images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.aboutus_footer .logo_footer img {
  width: 200px;
}

.aboutus_footer .abouts_footer_text {
}

.container_footer a {
  text-decoration: none;
  color: white;
}

.container_footer a:hover {
  color: rgb(139, 137, 137);
}

.social_footer a svg {
  margin-right: 10px;
}

.social_footer a svg:hover {
  fill: var(--red-color);
}
.adress_1 {
  margin-top: 13px;
  font-weight: 700;
  font-size: 18px;
}

.adrees_header {
  font-size: 25px;
}

@media (max-width: 992px) {
    .navbar_container form {
    margin-right: 10px;
  }
}