* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
    background-color: rgb(176, 159, 159);
}

.menu {
    width: 200px;
    height: 200px;
    background-color: rgb(201, 190, 190);
}

ul {
    list-style-type: none;
}

.container .menu a {
    text-decoration: none;
}

.container {
    position: relative;
    background-color: antiquewhite;
}

.dropdown {
    position: absolute;
    top: 0;
    left: 150px;
    display: none;
}

.container .menu .menu-item:hover .dropdown {
    display: block;
}

.container .dropdown .sub-dropdown {
    position: absolute;
    top: 0;
    left: 150px;
    display: none;
}

.container .dropdown .menu-item:hover  .sub-dropdown {
display: block;
}
