@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red-color: #f00000;
}

h2 {
  border-bottom: 2px solid var(--red-color);
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  font-family: "Signika Negative", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* navbar */
.navbar_container {
  width: 100vw;
  background-color: rgb(0, 0, 0);
}

.navbar.navbar-expand-lg {
  width: 100%;
}

.navbar-toggler-icon.white {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon.black {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: white;
}

.shownav {
  background-color: rgb(4, 6, 0);
}

.container-fluid.header {
  overflow: hidden;
}

.navbar-nav .nav-item {
  margin: 0 20px;
}

.navbar-nav .nav-item .nav-link {
  font-size: larger;
  color: rgb(255, 255, 255);
}

.search .bi-search {
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.bi-cart4 {
  font-size: 36px;
  cursor: pointer;
  color: white;
}

.navbar_container form {
  margin-right: 20px;
}

.navbar_container form input {
  padding-right: 30px;
}

.cart {
  position: relative;
}

.cart_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: var(--red-color);
  color: white;
  top: 0px;
  right: 0px;
  z-index: 99;
}

/* detail_item */

.detail-item-container {
  margin-top: 80px;
  margin-bottom: 40px;
}





.detail-price {
  margin-bottom: 10px;
}

.detail-price > * {
  margin-right: 5px;
}

.detail-price .real-price {
  font-weight: bold;
  color: var(--red-color);
}
.detail-star > i {
  color: red;
}

.status-item {
  background-color: rgb(0, 200, 255);
  width: fit-content;
  padding: 3px 10px;
  margin: 10px 0;
  color: var(--red-color);
  border-radius: 10px;
}

.detail-description {
  margin-bottom: 10px;
}

.box-img img {
  width: 100%;
  border-radius: 10px;
}

.button-item .add-item button {
  color: var(--red-color);
  background-color: white;
  border: 2px solid var(--red-color);
  padding: 3px 10px;
  border-radius: 10px;
}

.button-item .buy-now button {
  color: white;
  background-color: var(--red-color);
  padding: 3px 10px;
  border-radius: 10px;
  border: 1px solid var(--red-color);
}

.button-item .add-number-item i {
  margin: 0 10px;
  color: red;
  font-size: 20px;
}

.button-item .add-number-item span {
  font-size: 20px;
}
/* oder-box */
.order_box {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 999;
  border: 3px solid rgb(25, 253, 25);
  padding: 10px;
  background-color: white;
  animation: movebox 1.2s linear forwards;
  border-radius: 10px;
}

@keyframes movebox {
  0% {
    bottom: 30px;
    display: block;
    visibility: visible;
  }

  100% {
    bottom: 150px;
    display: none;
    visibility: hidden;
  }
}

.order_box i {
  color: green;
}

/* relative item */
.container-relative-item {
  margin-bottom: 30px;
}

.container-relative-item .discount {
  top: 10px;
  left: 10px;
  width: 65px;
  height: 65px;
  background-color: var(--red-color);
  border-radius: 50%;
  border: 1px solid #c2a7a7;
  box-shadow: 5px 5px 5px #4d2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: large;
  font-weight: bold;
}

@media (min-width:992px) {
  .container-relative-item .discount {
    left: 45px;
  }
}

.container-relative-item h4 {
  border-bottom: 2px solid var(--red-color);
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  font-family: "Signika Negative", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.container-relative-item .img_item img {
  width: 80%;
  height: 350px;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .container-relative-item .img_item img {
    width: 100%;
    height: 250px;
  }
}

.box_item {
  text-align: center;
}

.container-relative-item .name_item {
  font-size: 25px;
  font-weight: 550;
}

.container-relative-item .star_item {
  color: red;
}

/* subscribe for more */
.container-fluid.subscribe {
  background-color: rgba(0, 0, 0, 0.852);
  height: 400px;
  flex-direction: column;
}

.box_sub {
  width: 60%;
  margin-bottom: 20px;
  color: white;
}

.container-fluid.subscribe .row {
  width: 50%;
}

input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.container-fluid.subscribe .row input {
  padding: 10px;
}

.container-fluid.subscribe .row .button {
  width: 100%;
  height: 100%;
  background-color: var(--red-color);
  padding: 10px 12px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.container-fluid.subscribe .row .button:active {
  background-color: white;
  color: var(--red-color);
  border: 1px solid var(--red-color);
}

/* footer */
.container_footer {
  height: fit-content;
  background-image: url(../image/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.aboutus_footer .logo_footer img {
  width: 200px;
}

.container_footer a {
  text-decoration: none;
  color: white;
}

.container_footer a:hover {
  color: rgb(139, 137, 137);
}

.social_footer a svg {
  margin-right: 10px;
}

.social_footer a svg:hover {
  fill: var(--red-color);
}

.text-bg-danger1 {
  background-color: var(--red-color);
  color: white;
}
