
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  border-bottom: 2px solid rgb(245, 16, 16);
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}

/* modal */
.modal-title {
  text-align: center;
}

.btn-close {
  transition: all 0.5s;
}

.btn-close:hover {
  transform: rotate(180deg);
}

.modal-body .bank_name,
.bank_qr {
  margin-bottom: 10px;
}

.modal-body .bank_name img {
  height: 40px;
}

.napas_bank img {
  height: 30px;
}

.napas_bank::after {
  content: "";
  height: 30px;
  width: 1px;
  background-color: #015b93;
  position: absolute;
}

.info_bank {
  line-height: 10px;
  margin-top: 10px;
  color: #015b93;
}

/* modal 2 */
.card_visa {
  width: 470px;
  height: 300px;
  color: #fff9f9;
  cursor: pointer;
  perspective: 1000px;
  /* overflow: hidden; */
}

.card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s linear;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.card_visa .background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
}

.front_visa,
.back_visa {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
}

.back_visa {
  transform: rotateY(180deg);
}

.header_visa_front img {
}

.chip_img {
  float: start;
  margin-left: 20px;
  margin-top: 20px;
}

.visa_img {
  margin-right: 20px;
  float: right;
  margin-top: 40px;
}

.number_visa {
  margin-top: 50px;
  font-size: 45px;
  display: flex;
  justify-content: space-evenly;
}

.number_visa .section_zero {
  opacity: 0;
}

.footer_visa_front {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.footer_visa_front div div:last-child {
  font-size: 25px;
  margin-top: 5px;
}

.header_back_visa {
  margin-top: 20px;
  height: 50px;
  width: 470px;
  background-color: black;
}

.secret_number {
  margin-top: 20px;
  padding: 0 25px;
  display: flex;
  align-items: center;
}

.secret_number .visa_secret_number {
  background-color: white;
  color: black;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secret_number .visa_secret_number p {
  margin: 0;
  font-size: large;
  font-weight: 500;
}

.footer_back_visa {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin-top: 30px;
}

.footer_back_visa .signature {
  text-transform: uppercase;
  font-size: 20px;
}

.article_back_visa {
  padding: 0 25px;
  margin-top: 20px;
  font-size: 20px;
}

/* .card_visa:hover .card_inner {
  transform: rotateY(180deg);
} */

.rotate {
  transform: rotateY(180deg);
}

.modal-body .form-group,
.rule_visa {
  margin-top: 10px;
}

.button_visa {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.button_visa .btn {
  width: 30%;
}

.button_visa a {
  cursor: pointer;
}

.form-message {
  color: red;
}



/* navbar */
.navbar_container {
  width: 100vw;
  background-color: rgb(0, 0, 0);
}

.navbar.navbar-expand-lg {
  width: 100%;
}

.navbar-toggler-icon.white {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon.black {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: white;
}

.container-fluid.header {
  overflow: hidden;
}

.navbar-nav .nav-item {
  margin: 0 20px;
}

.navbar-nav .nav-item .nav-link {
  font-size: larger;
  color: rgb(255, 255, 255);
}

.search .bi-search {
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.bi-cart4 {
  font-size: 36px;
  cursor: pointer;
  color: white;
}

.navbar_container form {
  margin-right: 20px;
}

.navbar_container form input {
  padding-right: 30px;
}

.cart {
  position: relative;
}

.cart_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: red;
  color: white;
  top: 0px;
  right: 0px;
  z-index: 99;
}
/* cart */
.container.cart {
  margin-top: 80px;
}

input[type="text"],
input[type="tel"] {
  width: 100%;
  border: 1px solid black;
}

input[type="number"] {
  border: 1px solid black;
}

#city,
#districts,
#wards {
  width: 100%;
}

#districts,
#wards {
  display: none;
}

.container.cart textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.container.cart textarea:focus {
  outline: 3px solid rgb(170, 170, 247);
}

.container.cart .user_info .form-group {
  margin-bottom: 10px;
  border-radius: 10px;
}

.container.cart .user_info select {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}

.form-group input:focus {
  outline: 3px solid rgb(170, 170, 247);
}

.form-check {
  border-radius: 10px;
  border: 1px solid rgba(14, 0, 0, 0.295);
  padding-left: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 15px;
}

.form-check:active {
  outline: 3px solid rgb(170, 170, 247);
}

.form-check label {
  margin-left: 10px;
}

.form-check .form_text .img_form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-check .form-check-input {
  margin-left: 10px;
}

.form_text {
  background-color: #f8f8f8;
  padding: 5px;
}

.adress_customer select:focus {
  outline: 3px solid rgb(169, 169, 247);
}

.oder_done {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.oder_done a {
  text-decoration: none;
}

.oder_done .btn:active {
  color: red;
  background-color: white;
  border: 1px solid red;
}

.oder_done a::before {
  content: "←";
  transition: all 1s;
}

.back_button:hover a::before {
  margin: 0 5px;
}

/* subscribe for more */
.container-fluid.subscribe {
  background-color: rgba(0, 0, 0, 0.852);
  height: 300px;
  flex-direction: column;
}

.box_sub {
  width: 60%;
  margin-bottom: 20px;
  color: white;
}

.container-fluid.subscribe .row {
  width: 50%;
}

.container-fluid.subscribe .row input {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.button {
  width: 100%;
  height: 100%;
  background-color: rgb(231, 21, 21);
  padding: 10px 12px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.button:active {
  background-color: white;
  color: red;
  border: 1px solid red;
}

/* footer */
.container_footer {
  height: fit-content;
  background-image: url(../image/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.aboutus_footer .logo_footer img {
  width: 200px;
}

.aboutus_footer .abouts_footer_text {
}

.container_footer a {
  text-decoration: none;
  color: white;
}

.container_footer a:hover {
  color: rgb(139, 137, 137);
}

.social_footer a svg {
  margin-right: 10px;
}

.social_footer a svg:hover {
  fill: red;
}
